<!Doctype HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BMStart - Better New Tab For You</title>
    <link rel="stylesheet" href="style/pure.css" />
    <link rel="stylesheet" href="style/layout.css" />
</head>

<body>
    <div id="app">
        <div id="BMList">
            <template v-for="Folder in FolderList | filterBy voidFilter ">
                <div fid="{{Folder.id}}" class="pure-menu custom-restricted-width" @dragover.prevent @drag="drag" @drop="drop">
                    <a href="#" class="pure-menu-heading" @click="toggle">
                        {{Folder.title}}
                        </a>
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item" id="{{Bookmark.id}}" pid="{{Bookmark.parentId}}" v-for="Bookmark in Folder.children | filterBy urlFilter ">
                            <a href="{{Bookmark.url}}" class="pure-menu-link">
                            <span>
                                <img src="chrome://favicon/{{Bookmark.url}}">
                            </span>
                            {{ Bookmark.title }}</a>
                        </li>
                    </ul>
                </div>
            </template>
        </div>
    </div>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>

</html>
