html {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(/img/bg1.jpg);
}

body {
    font-family: "\5FAE\8F6F\96C5\9ED1";
    font-size: large;
}

z`::-webkit-scrollbar {
    width: 6px;
    background: rgba(50, 50, 50, .3);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, .8);
}

#app {
    margin-top: 1em;
}

#SearchBar {
    position: absolute;
    left: 100px;
    top: 150px;
}

#BMList {
    display: block;
    -webkit-column-width: 18em;
    width: 75%;
    margin: auto;
}

.pure-menu-heading {
    text-align: center;
    border-bottom: 2px solid #47b8e0;
    margin-right: 1em;
    margin-left: 1em;
}

.pure-menu-link {
    width: 84%;
    overflow: hidden;
    padding: 0.3em 1em 0.3em 1em;
    margin-right: 0.9em;
}

.pure-menu-item {
    transition-duration: 0.3s;
    transition-property: color, background-color;
}

.pure-menu-item:hover {
    background-color: #ffda8e;
    color: white;
}

.folder {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;
    background-color: rgba(236, 240, 241, 0.89);
    -webkit-box-shadow: 0px 2px 10px 0px #666;
    border-radius: 4px;
    width: 18em;
    white-space: nowrap;
    transition-duration: 0.5s;
    transition-property: color, background-color;
}
.folder:hover {
    background-color: rgba(236, 240, 241, 1.0);
}
